@model HumanResourceApp.Models.EmployeeModel

@{
    ViewData["Title"] = "Update Employee";
}


<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p style="color:green">
            @TempData["UpdateMsg"]
        </p>
        <form asp-action="UpdateEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="id_no" class="form-control" type="hidden" />
                <span asp-validation-for="id_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="middle_name" class="control-label"></label>
                <input asp-for="middle_name" class="form-control" />
                <span asp-validation-for="middle_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="job_title" class="control-label"></label>
                <input asp-for="job_title" class="form-control" />
                <span asp-validation-for="job_title" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="level_id" class="control-label"></label>
                <input asp-for="level_id" class="form-control" />
                <span asp-validation-for="level_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="level_id" class="control-label"></label>
                <select asp-for="level_id" asp-items="@ViewBag.LevelList" class="form-control">
                    <option value="">Select a level</option>
                </select>
                <span asp-validation-for="level_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllEmployees" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
